---
import { type CollectionEntry, getCollection } from "astro:content";
import Main from "../layouts/Main.astro";

export async function getStaticPaths() {
	const pages = await getCollection("page");
	return pages.map((page) => ({
		params: { slug: page.slug },
		props: page,
	}));
}
type Props = CollectionEntry<"page">;

const page = Astro.props;
const { Content } = await page.render();
---

<Main title={page.data.title} description={page.data.description}>
	<div class="prose max-w-none">
		<Content />
	</div>
</Main>
