---
import Main from "../layouts/Main.astro";
---

<Main>
	<div>
		<h1>🧑‍🚀 Hello, Astronaut!</h1>
		<p>
			Welcome to the official <a href="https://astro.build/">Astro</a>
			 blog starter template. This template serves as a lightweight,
			minimally-styled starting point for anyone looking to build a
			personal website, blog, or portfolio with Astro.
		</p>
	</div>
</Main>
