---
import { getCollection } from "astro:content";
const pages = await getCollection("page");
const links = pages.map((page) => {
    return {
        label: page.data.title,
        link: `/${page.slug}`,
    };
});
---

<script lang="ts">
function openMenu() {
    const menu = document.querySelector("#navbar-menu");
    menu?.classList?.toggle("hidden");
    menu?.classList?.toggle("flex");
}

function closeClickOutside() {
    const wrapper = document.querySelector("#navbar-menu-wrapper");
    const menu = wrapper?.querySelector("#navbar-menu");
    if (!menu) return;
    document.addEventListener("click", (e) => {
        const target = e.target;
        if (wrapper.contains(target)) return;
        menu?.classList?.add("hidden");
        menu?.classList?.remove("flex");
    });
}
document.addEventListener("DOMContentLoaded", closeClickOutside);
</script>

<div
    id="navbar-menu-wrapper"
    class="w-full z-10 fixed md:sticky top-0 left-0 p-2"
>
    <div class="w-full flex justify-between">
        <a href="#">Home</a>
        <button class="md:hidden" type="button" onclick="openMenu();"
            >open</button
        >
    </div>
    <div id="navbar-menu" class="hidden md:flex flex-col">
        {
            links.map((link) => {
                return <a href={link.link}>{link.label}</a>;
            })
        }
    </div>
</div>
