---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import SideBar from "../components/SideBar.astro";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title || SITE_TITLE}
			description={description || SITE_DESCRIPTION}
		/>
	</head>

	<body class="bg-black text-white flex justify-center">
		<div class="w-11/12 relative container flex justify-center">
			<div class="w-none md:w-1/5">
				<SideBar />
			</div>
			<main class="container w-full md:w-4/5">
				<slot />
			</main>
		</div>
	</body>
</html>
